  @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    /* Colors */

    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);

    /* Fonts */

    --Font-size: 15px;
    --Font-Family: 'Outfit',sans-serif;
    --Font-Weight-normal: 400;
    --Font-Weight-bold:700;
}
body{
    background-color: var(--Light-gray);
    height: 100vh;
    width: 100%;
    font-family: var(--Font-Family);
}

main{
    background-color: var(--White);
    position: relative;
    height: 29rem;
    width: 19.5rem;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
}
.card{
    padding: 14px;
    align-items: center;
    text-align: center;
}
.card > img{
    border-radius: 10px;
     width: 100%;
    margin-bottom: 20px;
}
.card > h1{
    color: var(--Dark-blue);
    font-size: 20px;
    line-height: 1.2em;
    font-weight: var(--Font-Weight-bold);
}
.card > p{
    margin-top: 5px;
    color: var(--Grayish-blue);
    font-weight: var(--Font-Weight-normal);
    font-size: var(--Font-size);
    text-align: center;
    line-height: 1.2em;
    padding: 10px;
}